{% extends "sitio/layout.html" %}

{% block content %}
    <section class="row mt-3">

        <!-- Titulo -->
        <div class="col-12 mb-4 text-center text-center text-md-left">
            <h3 class="display-4">Acerca de...</h3>
            <h4 class="h4 mt-3">Contenido a gusto. Puede haber imagenes entre otras cosas</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ab delectus aspernatur aut amet totam, nihil sed. Dicta nemo magnam ipsam maiores. Laboriosam fuga perferendis tempora neque molestiae quo nulla, at exercitationem minima, quam repellat. Exercitationem tenetur expedita veritatis, nostrum quae delectus? Dolorum neque impedit suscipit harum modi veniam officia, veritatis nisi tempora deleniti doloremque reprehenderit odio quia quidem porro pariatur vel laudantium iste, magnam mollitia laborum fugit, illo praesentium magni. Libero blanditiis unde, distinctio dolores sapiente asperiores id vero ducimus officiis hic accusantium obcaecati et, deleniti perferendis. Pariatur, corporis laudantium quod necessitatibus neque aut modi nisi, repudiandae ullam, et reprehenderit assumenda obcaecati cumque iste porro adipisci unde est dolorum facilis ad. Dolorem omnis accusamus quidem, praesentium aperiam ea repellat!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet vel, ex error soluta quae sunt sit, ipsa voluptate velit possimus, doloribus officiis obcaecati fugiat iusto corrupti hic adipisci ullam? Possimus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque similique, magnam nihil ipsum iste tempora soluta. Totam maiores, perferendis magnam rem possimus facere nemo illo dolorem, minus voluptatum, illum pariatur ducimus debitis id distinctio placeat? Amet dolorum est aut quisquam qui ut ab quia laboriosam ullam repellat, veritatis, vitae assumenda harum excepturi.</p>
        </div>
        
    </section>
{% endblock %}