{% extends 'registration/layout.html' %} {% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .custom-button {
        background-color: #007bff;
        /* Color de fondo azul */
        color: white;
        /* Color del texto blanco */
        border: none;
        /* Sin borde */
        padding: 10px 20px;
        /* Relleno interno */
        border-radius: 5px;
        /* Bordes redondeados */
        cursor: pointer;
        /* Cambio de cursor al pasar el mouse */
        display: block;
        margin: 0 auto;
        /* Centrar horizontalmente */
    }
    
    h1 {
        text-align: center;
    }
    
    .custom-button:hover {
        background-color: #0056b3;
        /* Cambio de color de fondo al pasar el mouse */
    }
</style>


<div method="post">

    <h1 class="text-uppercase text-center display-4 title-form-register">Solicitar Prestamo</h1>



    <a href="">Solicitar</a>
    <div style="max-width: 400px; margin: 0 auto; padding: 20px; background-color: #f7f7f7; border: 1px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 5px #888;">

        <h2>Datos del empleado:</h2>
        <ul style="list-style: none; padding: 0;">
            {% for dat in dats %}
            <li style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
                <strong>Nombre del empleado:</strong> {{ dat.Nombre }}<br>
                <strong>Puesto que proporciona:</strong> {{ dat.puesto }}<br>
                <strong>Sueldo a pagar:</strong> {{ dat.sueldo }}<br>
                <label>Cuanto prestamo quieres?</label>
                <input type="number" name="prestamo" id="prestamo">
            </li>
            {% endfor %}
        </ul>

    </div>





</div>

{% endblock %}